<md-toolbar align="end">
  <button md-raised-button color="primary" (click)="newOrder()">new Order</button>
  <button md-raised-button color="secondary" (click)="refresh()">refresh</button>
</md-toolbar>
<md-card *ngIf="editing">
  <md-card-title>Editing Order</md-card-title>
  <md-card-content>
    <form #editPostForm="ngForm">
      <md-input placeholder="Title" [(ngModel)]="editedOrder.title" name="title" maxLength="100" required="required"
                #titleField>
        <md-hint align="end">{{titleField.characterCount}} / 100</md-hint>
      </md-input>
      <md-input rows="3" type="Content" placeholder="Content" [(ngModel)]="editedOrder.content" name="content"
                maxLength="255" required="required" #contentField>
        <md-hint align="end">{{contentField.characterCount}} / 255</md-hint>
      </md-input>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="accent" (click)="saveOrder(editedOrder)">save</button>
    <button md-raised-button color="primary" (click)="cancelEdit()">cancel</button>
  </md-card-actions>
</md-card>
<md-card *ngFor="let order of orders" class="ordercard">
  <md-card-title>{{order.title}}</md-card-title>
  <md-card-content>
    <p>{{order.content}}</p>
    <md-list>
      <md-list-item>
        <p md-line>id: {{order.id}}</p>
        <p md-line>createdDate: {{order.createdDate | date:"dd.MM.yyyy HH:mm"}}</p>
        <p md-line>updatedDate: {{order.createdDate | date:"dd.MM.yyyy HH:mm"}}</p>
        <p md-line>version: {{order.version}}</p>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="primary" (click)="editOrder(order)">edit</button>
    <button md-raised-button color="accent" (click)="removeOrder(order)">remove</button>
  </md-card-actions>
</md-card>
